[html]
directory = htmlcov

[report]
show_missing = True
omit =
    tests/*
    urls/wsgi.py
    manage.py
    heyurl/tests.py
    */__init__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

